*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.bannder1{
    height: 600px;
    background: url("../img/banner.jpg");
    background-position: center 0;
}
.bannder2{
    height: 600px;
    background: url("../img/big1.jpg");
    background-position: center 0;
}
.navbar{
    margin-bottom: 0;
}
.box{
    margin-top: 200px;
    color: white;
}
.main{
    padding-top: 10px;
    margin-top: 10px;
    background: url("../img/banner4.jpg");
    background-attachment: fixed;
}